*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body,html{
    overflow-x: hidden;
}
.carousel-item{

    height:100vh;
    min-height:300px;
    background: no-repeat center center scroll;
    background-size:cover;
}
.carousel-caption{

    bottom:90px;
}
.carousel-caption h1{
    font-size:200px;
}
.carousel-item{position: relative !important;}
.black-overlay{
    position:absolute;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 20,0.5);
}
.navbar-nav a{
    font-weight:bold;
}
.navbar-light .navbar-brand{
    color:white;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#214974;
}
.navbar-light .navbar-nav .nav-link {
    color:#214974;
}

.container{
    background-color:white;
    border-radius:10px;
    margin-top:0;

}
.btn{
    background-color:#0A3160 ;
}
.navbar{
    padding-top:0;
    position:absolute;
}
.middle{

    background-color:white;
    width:100%;
    height:50%;
}

.geeky-heading{
    color:#0A3160;
    opacity:0.10196078431372549;
   font-size:250px;
   width:1354px;
   height:285px;
   margin-top:0%;
   margin-left:10%;
   font-weight: bolder;
}
span{
    margin-left:10%;
    margin-top:-20px;
}
.ellipse{
    width: 300px;
    height: 150px; /* as the half of the width */
    border-top-left-radius: 145px;  /* 100px of height + 10px of border */
    border-top-right-radius: 145px; /* 100px of height + 10px of border */
    border: 30px solid gray;
    border-bottom: 0;
    transform: rotateX(180deg);
    margin-left:40%;
}
.ellipse-2{
    width: 300px;
    height: 150px; /* as the half of the width */
    border-top-left-radius: 145px;  /* 100px of height + 10px of border */
    border-top-right-radius: 145px; /* 100px of height + 10px of border */
    border: 30px solid rgb(190, 188, 188);
    border-bottom: 0;
    margin-left:40%;
    margin-top:40%;
}
.parent-conatiner{position: relative;}
.child-conatiner{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgb(255,255,255,0.5);
}
.sub-child-container,.sub-child-container-dev{
 
    position:absolute;
    top:40%;
    left:35%;
    color:#0A3160;
    font-size:20px;

}
.sub-child-container-para{
    position:absolute;
    top:42%;
    left:25%;
    color:#0A3160;
    font-size:20px;
}

.geeky-para{

max-width:70% ;
margin-top:100px;
}

.sub-child-container-img,.sub-child-container-img-digital{
    position:absolute;
    top:73%;
    left:35%;
   
}
.sub-child-container-img img{
    width:450px;
    height:auto;
    margin-top:10px;
}

/* IDEA SECTION */

.idea-section{

    background-image:linear-gradient(rgba(0,0,20,0.7),rgba(0,0,20,0.7)),url(../img/img-right-4.png);
    width:100vw;
    height:auto;
    padding-bottom:50px;
    background-size:cover;

}
.idea-heading{
    margin-left:40%;
    color: white;
    margin-top:5%;
}
.idea-para,.degital-para{
margin-left:30%;    
color:white;  
word-spacing:5px;
padding-bottom:8px;

}
.idea-span-1,.degital-span-1{
    color: white;
    margin-left:30%; 
    word-spacing:5px;
    padding-bottom:25px;

}
.idea-span-2,.degital-span-2{
    color: white;
    margin-left:35%;
    word-spacing:5px;
   


}
.idea-span-3{
    color: white;
    margin-left:40%;

}
.idea-img{

    margin-left:30%;
    margin-top:20px;
}
.idea-para-2{
    margin-left:34%;   
    max-width:50%;  
    margin-top:5%;
    padding-bottom:8px;
    color:white;  
    
    }
.contact-btn{

    padding:5px;
    background-color:#103665;
    border:2px solid white;
    color: white;
    font-weight:bold;
    width:200px;
    margin-left:43%;  
    margin-top:20px; 
    border-radius:5px;

}
/*---------------------Developer detailes -----------*/
.sub-child-container-dev{
    width:200%;
    margin-left:-100px;
}
.developer-detailes{
    width:100vw;
    height:auto;
    background-color: white;

}
.dev-span-1{
    color:#0A3160;
    font-size:2em;
    font-weight:500;
    margin-left:-18%;
    margin-top:2.5%;
}
.dev-span-2{
    margin-left:5%;
    margin-top:-8px;
}
.dev-para{
    max-width:100% ;
margin-top:150px;
}
.sub-child-container-img-digital{

    margin-top:20px;
    margin-left:-3%;
}
.dev-ellipse{
    width: 300px;
    height: 150px; /* as the half of the width */
    border-top-left-radius: 145px;  /* 100px of height + 10px of border */
    border-top-right-radius: 145px; /* 100px of height + 10px of border */
    border: 30px solid gray;
    border-bottom: 0;
    transform: rotateX(180deg);
    margin-left:70%;
}

.dev-ellipse-2{

    width: 300px;
    height: 150px; /* as the half of the width */
    border-top-left-radius: 145px;  /* 100px of height + 10px of border */
    border-top-right-radius: 145px; /* 100px of height + 10px of border */
    border: 30px solid rgb(190, 188, 188);;
    border-bottom: 0;   
    margin-left:10%;
    margin-top:30%;


}

/*-------------------- DEGITAL-SECTION---------------- */
.degital-section{
    background-image:linear-gradient(rgba(0,0,20,0.7),rgba(0,0,20,0.7)),url(../img/footer-img.png);
    width:100vw;
    height:auto;
    padding-bottom:50px;
    background-size:cover;


}
.degital-heading{
    margin-left:33%;
    color: white;
    margin-top:5%;
}
.degital-folk-heading{

    color: white;
    margin-left:40%;
    letter-spacing:5px;
}
.degital-para{
    margin-left:25%;
}
.degital-span-1{
    margin-left:33%;
}
/*------------ Footer------- */

.footer{
    background-color:#263039;
}
h4{
    color: white;
}

.footer-para{
    color:white;
}
h6{
    color:white;
}
h5{
    color:rgb(141, 136, 136);
    font-size:15px;
}
.contact-para{
        
    color:white;
    width:250%;
}
.left-side{
    padding-left:25px;
}